@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa:wght@300;500;700&family=Lato:wght@100;300;400;700;900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,900;1,300&display=swap');

/*Colores que voy a usar por ahora para la página (en HEX)
#363537 Jet
#EF2D56 Red (Crayola)
#ED7D3A Pumpkin /// OTRA OPCIÓN DE NARANJA #EA6A1F
#8CD867 Pistachio
#2FBF71 Emerald
*/

/************************************************
ESTILO DE TODA LA PÁGINA
*************************************************/

* {
  margin: initial;
  padding: initial;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  overflow-x: hidden !important;
}
body {
  font-family: "Urbanist", sans-serif;
  max-width: 100%;
  background-image: url(https://mariokarttour.com/_nuxt/img/46ad215.png);
}

.sr-only{
  display:none;
}

button { /* Añadidos por accesibilidad y no quiero que afecten al estilo de la página */
  background: transparent; 
  cursor: pointer; 
  padding: 0;
}

@font-face {
  font-family: 'Akira Expanded';
  src: url('../../Proyecto/FONTS/akira_expanded/AkiraExpanded.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


/*******Textos descriptivos al pasar el ratón*******/

/*Estilo*/
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width:  max-content /*Ajusta el width a la longitud del texto proporcionado*/;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Posiciona el tooltip encima del elemento */
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

/*Para que se haga visible al pasar el ratón*/
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/************************************************
ESTILO DEL HAMBURGUER MENU Y LA BARRA DE ARRIBA :p
*************************************************/

.top-bar {
  height: 30vh;
}

.top-bar-container {
  /* ESTO ES LA BARRA DE ARRIBA*/
  position: sticky !important;
  overflow-x: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  display: grid; /* Cambiamos a grid en lugar de flex */
  grid-template-columns: auto 1fr auto  auto; /* Define cuatro columnas: logo, espacio en blanco, icono de usuario y hamburguesa */
  grid-column-gap: 25px; /* Añade separación entre las columnas */
  align-items: center;
  align-content: center;
  padding-inline: 0.8rem;
  background: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); /* Añade sombra al contenedor */
  z-index: 999;
}

@media (max-width: 385px) {
  .top-bar-container {
    display: inline-grid;
    justify-content: space-around;
    grid-column-gap: 20px; /* Ajusta el número de columnas para pantallas pequeñas */
    padding: 1rem;
  }

  .search-bar {
    grid-column: 2;
    display: grid;
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 60px;
    height: 60px;
    background: #EF2D56;
    background-clip: content-box;
    border-radius: 50px;
    border: 4px solid white;
  }


  
}

.logo{
  grid-column: 1;
  width: 30vw;
  max-width: 200px;
}

.logo-img{
  background-clip: border-box;
}


/*********************
       BANNER
**********************/

.home-banner-container{
  display:grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  max-width: 100%;
  position: relative;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); /* Añade sombra al contenedor */
}

.slide{
  display:flex;
  animation: desplazamiento 15s linear reverse infinite;
}

.banner-img {
  width: 100%; 
  height: auto; /* Ajusta la altura de la imagen automáticamente para mantener la proporción original */
}


@keyframes desplazamiento {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-20%, 0, 0);
  }
}
#banner-img1{
  position: absolute;
  grid-column: 1;
  z-index: 1;
  max-width: inherit;
}

#banner-img2{
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 60%;
  z-index: 2;
}

#banner-img3{
  filter:blur(1.5px)
}
/*********************
       BUSCADOR
**********************/
.search{
  display:grid;
  justify-content: center;
  grid-column: 2;
}


.search-bar{
  position: fixed;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 60px;
  height: 60px;
  background: #EF2D56;
  background-clip: content-box;
  box-sizing: border-box;
  border-radius: 50px;
  border: 4px solid white ;
}

.input-search{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: -webkit-fill-available;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 50px;
  padding: 0 20px;
}

.fa-search{
  box-sizing: border-box;
  width: 52px;
  position: absolute;
  top: 21%;
  right: 0;
  border-radius: 50%;
  color:white;
  text-align: center;
  font-size: 1.8em;
  transition: all 1s;
}

.search-bar:hover,
.search-bar:valid{
  width: 50vw;
  border: 4px solid #EF2D56;
  cursor: pointer;
}

.search-bar:hover .input-search,
.search-bar:valid .input-search{
  display: block;
}

.search-bar:hover .fa-search,
.search-bar:valid .fa-search{
  color: #EF2D56;
  background-clip: padding-box;
}

.input-search::-webkit-search-cancel-button {
  display: none;
}
@media screen and (max-width:500px) {
  .search-bar:hover, .search-bar:valid {
    margin-right: 40px;
}
  
}
.search-bar:hover, .search-bar:valid {
  width: 42vw;
  border: 4px solid #EF2D56;
  cursor: pointer;
  margin-right: 20px;
}

/******************************
    LOGO INICIO DE SESIÓN
******************************/
.sign-in-up-div{
  display: grid;
  justify-content: center;
  grid-column: 3;
}

.fa-user{
  font-size: large;
}

/******************************
       MENÚ LATERAL DERECHO
******************************/

svg.hamburger-lines {
  width: 40px;
  cursor: pointer;
  display: grid;
  justify-content: center;
  grid-column: 4;
}

#top-line,
#bottom-line,
#middle-line {
  transform-box: fill-box;
  transform-origin: center;
}

.transition-hamburger-menu {
  z-index: 2;
  #top-line {
    animation: down-rotate 0.6s ease-out both;
  }

  #bottom-line {
    animation: up-rotate 0.6s ease-out both;
  }

  #middle-line {
    animation: hide 0.6s ease-out forwards;
  }
}

@keyframes up-rotate {
  0% {
    animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }

  30% {
    transform-origin: center;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(-10px);
  }

  100% {
    transform-origin: center;
    transform: translateY(-10px) rotate(45deg) scale(0.9);
  }
}

@keyframes down-rotate {
  0% {
    animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }

  30% {
    transform-origin: center;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(10px);
  }

  100% {
    transform-origin: center;
    transform: translateY(10px) rotate(-45deg) scale(0.9);
  }
}

@keyframes hide {
  29% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


/*****************************
          MENÚ LATERAL
*****************************/
.menu-items {
  /* Contenedor del menú lateral */
  position: fixed;
  top: 0;
  right: -30%;
  background:white;
  background-image: url(../IMÁGENES/fondo.png);
  height: 100vh;
  width: 20%;
  padding: 4rem 2rem;
  z-index: 1;
  transition: 0.6s ease-in-out;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); /* Añade sombra al contenedor */
}

@media (max-width: 768px) {
  .menu-items {
    right: -60%;
    width: 60%;
    transition: 0.5s ease-in-out;

  }
}

.menu-items li {
  list-style: none;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  overflow: hidden;
  color:black;
}

.top-bar-container li {
  /*Estructura de lista en el menú lateral*/
  list-style: none;
}

.top-bar-container a {
  /* Fuente y color de las palabras del menu*/
  text-decoration: none;
  font-weight: 800;
  font-size: 1.2rem;
  padding: 0.7rem;
  color:black;
  letter-spacing: 0.5px;
}

.top-bar-container a:hover {
  /*Al pasar el ratón por encima*/
  font-weight: bolder;
}


/*******************************
BANNER INICIO DE SESIÓN
*******************************/
.log-in-banner-container{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
}

.background-overlay{
position: fixed;
display: none;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.fa-user{
  cursor:pointer;
}


.h1-sentence {
	font-weight: bold;
	margin: 0;
}


.p-sentence {
	font-size: 15px;
  font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.span-sentence {
	font-size: 12px;
  padding:0.5rem;
}

.social, .a-password {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.button-style {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.button-style:active {
	transform: scale(0.95);
}

.button-style:focus {
	outline: none;
}

.button-style.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.sign-in-up-form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.input-sign-in-up {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container{
  position: fixed;
  top:20%;
	background-color: #fff;
	overflow: auto;
	width: 80%;
	min-height: 480px;
  z-index: 999;
}

.hidden{
  display:none;
}

.close-modal{
  font-size: 28px;
  z-index:999;
  position: absolute;
  right: 3%;
  top: 2%;
}

.close-modal:hover,
.close-modal:focus{
  text-decoration: none;
  cursor: pointer;
}

.close-modal-button {
  background: transparent;
  border: none; 
  color: #000;
  font-size: 24px;
  cursor: pointer; 
  padding: 0;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

@media screen and (max-width: 853px) {
.sign-in-up-form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  height: 100%;
  text-align: center;
}

.container {
  background-color: #fff;
  z-index: 999;
  width: 90%;
  top: 14%;
}

.h1-sentence{
  font-size: large;

}

.p-sentence {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.button-style {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  padding: 12px 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}  
.social-container {
  margin: 20px 0;
  display: flex;
}

}
/********************************
      CATÁLOGO DE LAS CARTAS
********************************/
.catalog-title h2 {
  text-align: center;
  align-items: center;
  width: 100%;
  font:50px 'Akira Expanded';
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; 
  padding:1.5rem;

  }

.catalog-h2{
  background-image: repeating-radial-gradient(farthest-corner at 20px 40px,#553c9a, #ee4b2b, #553c9a);  
} 

/* 
.catalog-title h1:after,.catalog-title h1:before {
  content: "";
  display: block;
  border-bottom: 3px solid #EF2D56;
  border-top: 4px solid #EF2D56;
  height: 3px;
  background-color:#EFEFEF;
} */
  

.card-container {
  /* Contenedor que ocupa el ancho de la página para la zona de las cards*/
  padding: 0 5rem 0 5rem;
  /* position: absolute; */
  /*No respeta el flujo de la página, saca las cartas y pone las filas una encima de otras*/
  height: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Esto crea un diseño de cuadrícula flexible con un ancho mínimo de 300px */
  gap: 1.5rem; /* Espacio entre las cartas */
}

.card {
  margin-right: 1.5rem;
  /* padding: 0 0 0 0; */
  border-color: #363537;
  border-style: solid ;
  border-width: 6px;
  width: 100%;
  background-color: #363537;
  border-radius: 10px;
  transition: 0.4s ease-out;
  position: relative;
  left: 10px;
  /* z-index: -10; */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); /* Añade sombra al contenedor */

}

.title {
  color: white;
  font-weight: 500;
  position: absolute;
  left: 20px;
  top: 15px;
}

.product-card {
  width: auto;
  height: auto;
  position: relative;
  background: #363537;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
  background: #FF416C;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow: hidden;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 10px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-details {
  padding: 30px;
  width: 100%;
  height: 280px;
  aspect-ratio: 1/2;
  max-height: 300px;
  overflow: hidden;
}

.product-category {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 5px;
}

.product-details h4 a {
  font-weight: 800;
  letter-spacing: 0.5px;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #ebe0e0;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #ffd149;
}

.product-details .description {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  max-height: 66px;
  overflow: hidden;
  margin-bottom: 18px;
  color: #d3cece;
}

.product-bottom-details {
  overflow: hidden;
  width: 80%;
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  margin: auto;
  border-top: 1px solid #d2c8c8;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.product-bottom-details div {
  float: left;
}

.product-price {
  
  font-size: 18px;
  color: #ffd149;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
  display: inline-block;
}

.product-links a {
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #ffd149;
}

#reveal-button {
  display: none;
}

.text-container {
  max-height: 100px; /* Define una altura máxima para el contenedor */
  overflow: hidden;
}


@media screen and (max-width:680px) {
  #reveal-button{
    display: flex;
  }
  .product-details {
    padding: 30px;
    width: 100%;
    height: 200px;
    aspect-ratio: 1/2;
    max-height: 300px;
    overflow: hidden;
}

  .product-details .description {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 22px;
    max-height: 66px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 18px;
    color: #d3cece;
  }
  .product-details h4 a {
    overflow: hidden;
    font-weight: 800;
    letter-spacing: 0.5px;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #ebe0e0;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.3s;
    text-overflow: ellipsis;
}
  
}
/****************************
       BANNER DE INICIO
*****************************/

.banner{
  width: 100%;
}

/****************************
       FOOTER DE LA PÁGINA
*****************************/

#contact {
  width: 100%;
  height: 50%;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); /* Añade sombra al contenedor */
  /* Establece el gradiente y la imagen como fondos */
  background: linear-gradient(to right, #FF4B2B, #FF416C);
}

.section-header {
  text-align: center;
  margin-top: 3rem;
  padding-top: 40px;
  font: 35px 'Akira Expanded';
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columnas con igual ancho en la primera fila */
  grid-template-rows: auto auto 1fr; /* 2 filas; la primera se ajusta al contenido, la segunda ocupa el espacio restante */
  gap: 10px; /* Espacio entre las celdas */gap: 20px; /* Espacio entre las dos columnas */
  margin: 0 auto;
  padding: 20px;
  position: initial;
  max-width: 840px;
  padding-inline:1rem;
}

/* Left contact page */

.feedback-input {
  color:#363537;
  font-family: 'Lato', sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  border:2px solid #EFEFEF;
  transition: all 0.2s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  outline:0;
}

.feedback-input:focus { border: 2px solid white; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  width:100%;
  background:#363537;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:#FF416C;;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#EFEFEF; color:#FF416C;; }

/* Container de la página de contacto de la derecha */
.direct-contact-container {
  max-width: 310px;
  padding-inline: inherit;
}

/* Sección de localización, teléfono y e-mail */
.contact-list {
  list-style-type: none;
}

.list-item {
  line-height: 4;
  color: #363537;
}

.contact-text {
  font: 500 22px 'Urbanist', sans-serif;
  /* letter-spacing: 0.2px; */
  color: #363537;
}

.place {
  margin-left: 50px;
}

.phone {
  margin-left: 50px;
}

.gmail {
  margin-left: 50px;
}

.contact-text a {
  color: #363537;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color:#363537;
  text-decoration: none;
}


/* Iconos de redes sociales */

.social-media-list li a {
  color:#FF416C;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  font-size: 22px;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #363537;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
  text-align: center;
  overflow-x: initial;
  overflow: visible;
}

.contact-icon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #363537;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #EFEFEF; 
}

.social-media-list a:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list a:hover a {
  color: #FF416C;
}

hr {
  border-color: rgba(0,0,0,.6);
}

/* Sección de Webmasters */

.webmasters-header{
  grid-row: 2;
  grid-column: 1/3;
  text-align: center;
  margin-top: 2rem;
  padding: 20px 0;
  font: 25px 'Akira Expanded';
  color: #fff;
  letter-spacing: 2px;
}

.webmasters-section{
  grid-column: 1/3;
  grid-row: 3;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  position:relative;
  width: 100%;
  justify-content: center;
  background-size: contain;
}
.webmaster-thumbnail img{
  object-fit: contain;
  width: 90%;
  height: 100%;
}

#webmaster1{
  grid-column: 1;
  background-size: contain;
}

#webmaster2{
  grid-column: 2;
  background-size: contain;
}

#webmaster3{
  grid-column: 3;
  background-size: contain;
}
/*Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    flex-wrap: wrap;
    align-content: center;
  }
  .direct-contact-container, .form-horizontal {
    margin: 1rem 8rem 0.5rem 8rem;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 330px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    margin: 0 auto;
  }

  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }  

  .direct-contact-container, .form-horizontal {
    margin: 1rem 1.5rem 0.5rem 1.5rem;
  }
  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 90vw;
  }

  .contact-text {
    font: 500 20px 'Urbanist', sans-serif;
    letter-spacing: 0.2px;
    color: #363537;
  }
}

/*********************************
  ESTILO DE LA PÁGINA DEL ARTÍCULO
**********************************/
.article-products {
  margin: 5rem;
  position: relative;
  display: grid;
  grid-template-columns: 0.75fr 0.75fr;
  align-items: center;
  left: 5%;
}

.article-card {
  border-color: #363537;
  border-style: solid;
  border-width: 6px;
  width: 100%;
  background-color: #363537;
  border-radius: 10px;
  transition: 0.4s ease-out;
  position: relative;
}