@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa:wght@300;500;700&family=Lato:wght@100;300;400;700;900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,700;0,900;1,300&display=swap');

/*Colores que voy a usar por ahora para la página (en HEX)
#363537 Jet
#EF2D56 Red (Crayola)
#ED7D3A Pumpkin
#8CD867 Pistachio
#2FBF71 Emerald
*/

/************************************************
ESTILO DE TODA LA PÁGINA
*************************************************/

* {
  margin: initial;
  padding: initial;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  
  background-color: #EFEFEF;
}


/************************************************
ESTILO DEL HAMBURGUER MENU Y LA BARRA DE ARRIBA :p
*************************************************/


.top-bar-container { /* ESTO ES LA BARRA DE ARRIBA*/
  position:fixed;
  max-width: 100%;
  height: 100px;
  width: 100%;
  margin-top: -160px;
  display: inline;
  justify-content: space-between;
  align-items: center;
  background: white;
  z-index: 20;
  /*opacity: 70%; quiero que baje la opacidad de la barra al desplazarnos hacia abajo
                  creo que es con javascript  */
  /*border: 2px solid red;*/
}

.searcher{ /* Contenedor de la zona de búsqueda de objetos*/
  position: absolute;
  width: 50px;
  height: 50px;
  margin: auto;
  top:25%;
  left:45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.logo {
  position: absolute;
  top: 35%;
  right: 2%;
  font-size: 1.2rem;
  color: #ED7D3A;
  z-index: 30;
}

.searcher input[type="text"] {
  width: 50px;
  height: 20px;
  margin: auto;
  padding: 1.7rem;
  background: none;
  border: 3px solid #363537;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 15px;
  color: #363537;
  opacity: 75%;
  transition:0.5s ease-in-out;
  position: relative;
}

.searcher:hover input[type="text"],
.searcher:focus input[type="text"] {
  width: 50vw; /* Ocupa el 50% del ancho de la ventana */
  background: #F7F7F8;
  border-radius: 50px;
  z-index: 10;
}

.searcher i {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%); /* Centra el icono */
  font-size: 26px;
  color: #ED7D3A;
  transition: 0.45s ease-in-out;
  z-index: 30;
}

.searcher:hover i,
.searcher:focus i {
  left: calc(25vw - 50%); /* Desplaza el icono de la lupa hasta el final */
  transition: left 0.45s ease-in-out, z-index 0.15s;
  z-index: 10;
}




/*MENU LATERAL IZQUIERDO */

.top-bar-container li { /*Estructura de lista en el menú lateral*/
  list-style: none;
}

.top-bar-container a { /* Fuente y color de las palabras del menu*/
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.top-bar-container a:hover{ /*Al pasar el ratón por encima*/
    font-weight: bolder;
}

.top-bar-container .checkbox{ /* Esto da formato a un checkbox que se usa para clicar sobre la X*/
  position: relative;
  display: block;
  height: 32px;
  width: 32px;
  top: 35%;
  left: 4%;
  z-index: 10;
  border: 2px solid #363537;
  opacity: 0; /* Si se pone a 1 se ve el checkbox, como solo queremos el icono lo ponemos a 0*/
  cursor: pointer;
  z-index: 30;
} 

.top-bar-container .hamburger-lines {
  height: 50px;
  width: 50px;
  position: absolute;
  cursor: pointer;
  top: 30%;
  left: 4%;
  z-index: 2;
  opacity: 75%;
}

.top-bar-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

#menu-icon,
#close-icon {
  font-size: 35px;
  color: #363537;
  transition: transform 0.2s ease-in-out; /* Cambiamos la propiedad a 'transform' */
  transform: scale(1); /* Establecemos una escala inicial */
}

#close-icon {
  display: none;
}

/* Cambiamos el icono a una X cuando el checkbox está marcado */
.top-bar-container input[type="checkbox"]:checked ~ .hamburger-lines #menu-icon {
  display: none;
  transform: scale(0); /* Escala el icono a 0 para ocultarlo */
}

.top-bar-container input[type="checkbox"]:checked ~ .hamburger-lines #close-icon {
  display: inline-block;
  transform: scale(1); /* Escala el icono a su tamaño original */
}


/*****************************
          MENÚ LATERAL
*****************************/
.top-bar .menu-items { /* Contenedor del menú lateral */
  position: static;
  background-color: #8CD867;
  height: 105vh;
  width: 100%;
  max-width: 20rem;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin: -40px 0 0 -40px;
  padding: 130px 0 0 85px;
  transition: transform 0.5s ease-in-out;
  text-align: left;
  z-index: 20; /*no hace nada porq hay algo en static pero no sé q es lol*/
}

.top-bar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  opacity:75%;
}

.top-bar .menu-items a {
  font-size: 1.5rem;
  color:#363537;
}

/********************************
      CATÁLOGO DE LAS CARTAS
********************************/

#objects{ /* Para que la primera fila de cartas no aparezca justo debajo del header*/ 
    margin:10rem 0 0 0;
}

.card-container{ /* Contenedor que ocupa el ancho de la página para la zona de las cards*/
    margin: 0 1rem 10rem 0;
    padding: 0 5rem 0 5rem;
   /* position: absolute; */ /*No respeta el flujo de la página, saca las cartas y pone las filas una encima de otras*/
    justify-content: space-evenly;
    align-items: center;
    height: 380px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  
  .card {
    margin-right: 2.5rem;
    padding: 0 2rem 0 2rem;
    display: flex;
    height: 380px;
    width: 300px;
    background-color: #363537;
    border-radius: 10px;
    transition: 0.4s ease-out;
    position: relative;
    left: 10px;
    z-index: -10;
  }

  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  

  /****************************
       FOOTER DE LA PÁGINA
  ****************************/

  #contacto {
    width: 100%;
    height: 100%;
    background: #ED7D3A;
  }
  